/* .root{
  align-items: center;
  justify-content: center;
} */

.App {
  width: 98vw;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.jumbotron, .jumbotron-fluid, .container-fluid{
  padding-left: 0px;
  margin: 0px;
}

#container-fluid, #jumbotronFluid{
  padding: 0px;
  text-align: center;
}

.headerJumbotron {
  width: 100vw;
  height: 30vh;
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

#jumboimage {
  position: absolute;
  max-width: 100vw;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#headerJumbotronText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blueviolet;
  font-size: calc(10px + 2vmin);

}